<script>
    let playlists = JSON.parse({{.Playlists}})
    let countNews = {{.Counts.news}}
    let countMovie = {{.Counts.movie}}
    const frontend = {{.Frontend}}
</script>
<script src="/public/scripts/set-playlists.js"></script>

<section class="Main region">
    <div class="random-video">
    {{ range $outerIndex, $innerArray := .Posts }}
        <button  onclick="changeCategory(videoPlaylists.movie, 'ភាពយន្ត​​​', rawPlaylist.movie, 1)">
        {{ if eq $outerIndex 0 }}
            {{ with index $innerArray 0 }}
                <img id="movie" src="{{ .Thumb }}" />
                <p class="news-label">{{$.Counts.news}} ព័ត៌មាន</p>
                <span class='playing'>កំពុង​លេង...</span>
            {{ end }}
        {{ else if eq $outerIndex 1 }}
            {{ with index $innerArray 0 }}
                <img id="movie" src="{{ .Thumb }}" />
                <p class="news-label">{{$.Counts.movie}} ភាពយន្ត</p>
                <span class='playing'>កំពុង​លេង...</span>
            {{ end }}
        {{ else if eq $outerIndex 2 }}
            {{ with index $innerArray 0 }}
                <img id="movie" src="{{ .Thumb }}" />
                <p class="news-label">{{$.Counts.travel}} ដើរ​លេង</p>
                <span class='playing'>កំពុង​លេង...</span>
            {{ end }}
        {{ else if eq $outerIndex 3 }}
            {{ with index $innerArray 0 }}
                <img id="movie" src="{{ .Thumb }}" />
                <p class="news-label">{{$.Counts.doc}} ឯកសារ</p>
                <span class='playing'>កំពុង​លេង...</span>
            {{ end }}
        {{ else if eq $outerIndex 4 }}
            {{ with index $innerArray 0 }}
                <img id="movie" src="{{ .Thumb }}" />
                <p class="news-label">{{$.Counts.web}} គេហទំព័រ</p>
                <span class='playing'>កំពុង​លេង...</span>
            {{ end }}
        {{ else if eq $outerIndex 5 }}
            {{ with index $innerArray 0 }}
                <img id="movie" src="{{ .Thumb }}" />
                <p class="news-label">{{$.Counts.sport}} កីឡា</p>
                <span class='playing'>កំពុង​លេង...</span>
            {{ end }}
        {{ else if eq $outerIndex 6 }}
            {{ with index $innerArray 0 }}
                <img id="movie" src="{{ .Thumb }}" />
                <p class="news-label">{{$.Counts.food}} មុខ​ម្ហូប</p>
                <span class='playing'>កំពុង​លេង...</span>
            {{ end }}
        {{ else if eq $outerIndex 7 }}
            {{ with index $innerArray 0 }}
                <img id="movie" src="{{ .Thumb }}" />
                <p class="news-label">{{$.Counts.music}} របាំ​តន្ត្រី</p>
                <span class='playing'>កំពុង​លេង...</span>
            {{ end }}
        {{ else if eq $outerIndex 8 }}
            {{ with index $innerArray 0 }}
                <img id="movie" src="{{ .Thumb }}" />
                <p class="news-label">{{$.Counts.game}} ពិភព​និម្មិត</p>
                <span class='playing'>កំពុង​លេង...</span>
            {{ end }}
        {{ else if eq $outerIndex 9 }}
            {{ with index $innerArray 0 }}
                <img id="movie" src="{{ .Thumb }}" />
                <p class="news-label">{{$.Counts.distraction}} ល្បែង​កំសាន្ត</p>
                <span class='playing'>កំពុង​លេង...</span>
            {{ end }}
        {{ end }}
        </button>
    {{ end }}
    </div>

    <div class="player-wrapper">
        <div class="wrapper1">
            <div id="player1"></div>
            <div class="latest-video">ព័ត៌មាន</div>
            <div class="channel-logo">
                <img src="/public/images/siteLogo.png" alt=''/>
            </div>
            <div class="play-all1">
                <button onclick="changeCategory(videoPlaylists.news, 'ព័ត៌មាន', rawPlaylist.news)" class='center'>ព័ត៌មាន</button>
                <button onclick="nextPrevious('previous')">វីដេអូមុន</button>
                <button onclick="newPlaylist()" class='new-playlist'>ដូរ​កំរង​វីដេអូ​</button>
                <button onclick="nextPrevious('next')">វីដេអូបន្ទាប់</button>
            </div>
        </div>
        <div class="wrapper2">
            <div id="player2"></div>
            <div class="latest-video">ភាពយន្ត</div>
            <div class="channel-logo">
                <img src="/public/images/siteLogo.png" alt=''/>
            </div>
            <div class="play-all2">
                <button onclick="changeCategory(videoPlaylists.movie, 'ព័ត៌មាន', rawPlaylist.movie)" class='center'>ព័ត៌មាន</button>
                <button onclick="nextPrevious('previous')">វីដេអូមុន</button>
                <button onclick="newPlaylist()" class='new-playlist'>ដូរ​កំរង​វីដេអូ​</button>
                <button onclick="nextPrevious('next')">វីដេអូបន្ទាប់</button>
            </div>
        </div>
    </div>
</section>

<style>
    .random-video{
        display: grid;
        grid-template-columns: repeat(5, calc(20% - 8px));
        grid-gap: 10px;
        padding: 10px 0 0;
    }
    .random-video button{
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 53.4%;
        overflow: hidden;
        border: none;
        background: black;
    }
    .random-video button:hover{
        cursor: pointer;
        opacity: .7;
    }
    .random-video button img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .random-video button p{
        position: absolute;
        top: 0;
        left: 0;
        background: #253443;
        color: white;
        text-align: center;
        font-family: Vidaloka, OdorMeanChey;
        padding: 5px;
        min-width: 90px;
    }
    .random-video button .playing{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Vidaloka, OdorMeanChey;
        color: orange;
        display: none;
    }
    .player-wrapper{
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 5px));
        grid-gap: 10px;
        padding: 10px 0;
    }
    .player-wrapper .wrapper1,
    .player-wrapper .wrapper2{
        position: relative;
        padding-top: 53%;
        overflow: hidden;
    }
    .player-wrapper .wrapper1 .latest-video,
    .player-wrapper .wrapper2 .latest-video{
        position: absolute;
        top: 5px;
        left: 10px;
        color: orange;
    }
     
    .player-wrapper .wrapper1 .channel-logo img, 
    .player-wrapper .wrapper2 .channel-logo img{
        position: absolute;
        top: 5px;
        right: 5px;
        width: 6%;
    }
    .player-wrapper .wrapper1 .play-all1,
    .player-wrapper .wrapper2 .play-all2{
        position: relative;
        bottom: 7px;
        text-align: center;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 15px;
    }
    
    .player-wrapper .play-all1 button, 
    .player-wrapper .play-all2 button{
        color: orange;
        padding-top: 0;
        width: auto;
        background-color: transparent;
        font-family: Vidaloka, OdorMeanChey;
        border: none;
    }
    .player-wrapper .play-all1:hover, 
    .player-wrapper .play-all2:hover{
        cursor: pointer;
    }
    .player-wrapper .wrapper1:hover .play-all1, 
    .player-wrapper .wrapper2:hover .play-all2{
        visibility: visible;
    }
    .player-wrapper #player1, 
    .player-wrapper #player2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--menu);
    }

    @media only screen and (max-width: 600px){
        .Main{
            padding: 0;
        }
        .random-video{
            grid-template-columns: 100%;
            padding: 10px;
        }
        .player-wrapper{
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            padding-top: 51.7%;
        }
        .Home .container{
            grid-template-columns: 100%;
            padding: 30px 10px;
        }
    }   
</style>